<!--/********************************************************************************
*  WEB322 – Assignment 05
* 
*  I declare that this assignment is my own work in accordance with Seneca's
*  Academic Integrity Policy:
* 
*  https://www.senecacollege.ca/about/policies/academic-integrity-policy.html
* 
*  Name: Radmehr Behzadfar Student ID: 148786221 Date: 2024-07-04
*
*  Published URL: https://facultysolution-a2-cp87.vercel.app/
*
********************************************************************************/-->
<%- include('partials/navbar', {page: '/about'}) %>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">

  <div class="container mx-auto">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>

          <p class="py-6">Everything you want to know about me - the designer &amp; developer.</p>

        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <img class="w-full rounded-lg"
          src="https://media.licdn.com/dms/image/D5603AQFTeodpYp9Znw/profile-displayphoto-shrink_200_200/0/1687204027799?e=2147483647&v=beta&t=7emW0wmCgq9TUmGUWzZDCLBWl0FotEott0mT_ZpnM28" alt="My Image"/>

      </div>
      <div class="prose">

        <p>Hello everyone. I am Radmehr Behzadfar; As of this moment, I am a student 
          at Seneca College, studying Computer Programming and Analysis.</p>

      </div>

    </div>

  </div>
</body>

</html>